<mat-sidenav-container class="navbar-container">
  <mat-sidenav #sidenav class="navbar" mode="side" [opened]="showNavBar()" (closedStart)="closedStart()" (openedStart)="openedStart()">
    <div class="menu-container">
      <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="menu-container" routerLink="/home">
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <label class="menu-label">Home</label>
    </div>
    <div class="menu-container" routerLink="/trash">
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <label class="menu-label">Trash</label>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="top-container">
      <button mat-icon-button matTooltip="Show Menu" class="menu-button" *ngIf="!isNavBarVisible && showNavBar()" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Back" class="back-button" *ngIf="!showNavBar()" (click)="goBack()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <div class="top-left-container">
        <label class="level-label level-1">Level 1</label>
        <label class="level-label">></label>
        <label class="level-label level-2">Level 2</label>
      </div>
      <mat-form-field class="search-products" *ngIf="router.url == '/home'">
        <input
          matInput
          type="text"
          placeholder="Search Products"
          (keyup)="searchProducts(searchTerm)"
          [(ngModel)]="searchTerm"
        />
      </mat-form-field>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
