.left-container {
  width: 250px;
  height: calc(100% - 60px);
  float: left;
}
.add-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 9;
}
.main-container {
  width: calc(100% - 250px);
  height: calc(100% - 60px);
  float: right;
  overflow-y: auto;
  background-color: lightgrey;
}
.product-card {
  margin: 20px;
  height: 80%;
  width: 80%;
  cursor: pointer;
}
.product-image {
  height: 70%;
  width: calc(100% + 32px);
  margin-bottom: 0;
}
.card-action {
  width: 80px;
  height: 40px;
  float: right;
  cursor: auto;
}
.action-button {
  float: right;
}
.action-button .active {
  color: red;
}
.card-title {
  width: calc(100% - 80px);
  height: 34px;
  padding-top: 6px;
  font-size: 24px;
  float: left;
}
.description {
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.5rem;
  line-height: 1.5rem;
}
.filter-label {
  font-weight: bold;
  display: block;
}
.filter-container {
  padding: 15px;
}
.filter-container mat-checkbox {
  display: block;
}
.filter-container mat-radio-group mat-radio-button {
  display: block;
  margin: 3px 0 3px 0;
}
